{% extends "base.html" %}
{% block content %}	
<div id="site_content">	 
	
	 
	  <div id="content">	  
        
		<h1>Welcome To A New World</h1>
          <h2><p>This is an assignment on Web Development done by Hemanshu Sondhi, Prateek P. Thakur and Gaurav Lohia.
        This website enables the user to calculate the average and plot the graph for Simplex Algorithm.</p></h2>
		

		<div class="content_container">
		  <h3>Hemanshu Sondhi</h3>
		  <h4><p>I am from New Delhi.I was born on 14 November 1995.I got my schooling from Apeejay School.</p></h4>
		   <div class="button_small">
		    <a href="/data_hemanshu">Read more</a>
		  </div><!--close buttoen_small-->
		</div><!--close content_container-->	
		
		<div class="content_container">
		  <h3>Prateek P. Thakur</h3>
		  <h4><p>I am from Noida.I was born on 12 January 1996.I got my schooling from DPS NOida.</p></h4>
		   <div class="button_small">
		    <a href="/data_prateek">Read more</a>
		  </div><!--close button_small-->
		</div><!--close content_container-->

      <div class="content_container">
		  <h3>Gaurav Lohia</h3>
		  <h4><p>I am from Dehradun.I was born on 11 June 1996.I got my schooling from Doon Public School.</p></h4>
		   <div class="button_small">
		    <a href="/data_gauravl">Read more</a>
		  </div><!--close button_small-->
		</div><!--close content_container-->

	  </div><!--close content--> 
	  
	</div><!--close site_content-->
{% endblock %}   
  

